body{
    background-color: black !important;
    color: white !important;
    
}


.video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}




.hov{
    transition: all .3s ease-in-out !important;
}

.hov:hover{
    transform: scale(1.3) !important;
}